<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      href="https://cdn.glitch.global/4cf42ca2-4f10-4b7c-b9ba-da3c09eb0926/vecteezy_plant-in-pot-icon_9376677_486.png?v=1698151708567"
    />
    <title>Rootz - User Dashboard</title>
    <!-- Need to add style sheet -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />
    <style>
      body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      img {
        width: 7.5%;
      }

      h2,
      h3 {
        width: 100%;
      }

      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: rgb(25, 134, 170);
      }

      #userIcon {
        width: 30px; /* Adjust as needed */
      }

      #title {
        display: flex;
        align-items: center;
      }

      #title a {
        margin-right: 10px;
      }

      #liked-plants {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      }

      .plant-card {
        width: 20vw;
        margin: auto;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border: 1px solid rgb(174, 174, 184);
        background-color: rgb(25, 134, 170);
        box-shadow: 5px 5px 5px 20px solid black;
        margin: 10px;
      }

      table {
        width: 100%;
      }

      th,
      td {
        width: 50px;
        padding: 5px;
      }
    </style>
    <!-- Need to add js file -->
  </head>
  <header>
    <div id="title">
      <a href="/users/home"
        ><img
          id="plantIcon"
          src="https://cdn.glitch.global/4cf42ca2-4f10-4b7c-b9ba-da3c09eb0926/vecteezy_plant-in-pot-icon_9376677_486.png?v=1698151708567"
          alt="Potted Plant Icon"
      /></a>
      <h1>Rootz</h1>
    </div>
    <a href="/users/dashboard"
      ><img
        id="userIcon"
        src="https://cdn.glitch.global/4cf42ca2-4f10-4b7c-b9ba-da3c09eb0926/userIcon.png?v=1698152143072"
        alt="User Icon"
    /></a>
  </header>
  <body>
    <h2>My Rootz</h2>

    <!-- Send password update success messages to user -->
    <ul>
      <% if(messages.success_msg) { %>
      <li><%= messages.success_msg %></li>
      <% } %>
    </ul>

    <!-- Send error messages to user -->
    <ul>
      <% if (messages.error) { %>
      <li><%= messages.error %></li>
      <% } %>
    </ul>

    <!-- Logout button -->
    <div>
      <a href="/users/logout">Logout</a>
    </div>

    <!-- Change password button -->
    <div>
      <a href="/users/changePass">Change Password</a>
    </div>

    <!-- Discussion Board button -->
    <div>
      <a href="/users/discussionBoard">Discussion Board</a>
    </div>

    <!-- Say hello to user by name -->
    <h3>Hello <%= user.charAt(0).toUpperCase() + user.slice(1) %></h3>

    <div id="liked-plants">
      <h3>Liked Plants</h3>
      <div class="plant-card">
        <img
          class="plant"
          src="https://cdn.glitch.global/4cf42ca2-4f10-4b7c-b9ba-da3c09eb0926/plantExample.jpg?v=1698683903468"
          alt="Plant Image"
        />
        <h3>Plant Name</h3>
        <img
          class="star"
          src="https://cdn.glitch.global/4cf42ca2-4f10-4b7c-b9ba-da3c09eb0926/empty_star.png?v=1698688473551"
          alt="Empty Star"
        />
        <button onclick="showAllPlants()">Show All Plants</button>
        <button onclick="showFavoritePlants()">Show My Favorite Plants</button>
        <button onclick="hideAllPlants()">Hide All Plants</button>

        <form
          id="addFavorite"
          action="/users/dashboard/addFavorite"
          method="POST"
        >
          <div>
            <input
              type="text"
              id="plantID"
              name="plantID"
              placeholder="Add Plant ID"
              required
            />
            <input type="submit" value="Favorite" />
          </div>
        </form>

        <form
          id="removeFavorite"
          action="/users/dashboard/removeFavorite"
          method="POST"
        >
          <div>
            <input
              type="text"
              id="plantID"
              name="plantID"
              placeholder="Remove Plant ID"
              required
            />
            <input type="submit" value="Remove" />
          </div>
        </form>

        <form>
          <table id="plantsTable">
            <tr>
              <th>ID</th>
              <th>Common Name</th>
              <th>Biological Name</th>
              <th>Family</th>
              <th>Category</th>
              <th>Origin</th>
              <th>Climate</th>
              <th>Brightness Intensity</th>
              <th>Brightness Direction</th>
              <th>Low Temperature</th>
              <th>High Temperature</th>
              <th>Humidity</th>
              <th>Days Between Watering</th>
              <th>Image</th>
            </tr>
          </table>
        </form>

        <button onclick="showAllPosts()">Show All Posts</button>
        <button onclick="showFavoritePosts()">Show Posts About Favorites</button>
        <button onclick="hideAllPosts()">Hide All Posts</button>

        <form
          id="addFavorite"
          action="/users/dashboard/addFavorite"
          method="POST"
        >
          <div>
            <input
              type="text"
              id="plantID"
              name="plantID"
              placeholder="Plant ID"
              required
            />
            <input
              type="text"
              id="title"
              name="title"
              placeholder="Title"
              required
            />
            <input
              type="text"
              id="content"
              name="content"
              placeholder="Content"
              required
            />
            <input
              type="number"
              step="1"
              min="1"
              max="5"
              id="rating"
              name="rating"
              placeholder="Rating"
              required
            />
            <input type="submit" value="Post" />
          </div>
        </form>

        <h4>Discussion Board</h4>
        <table>
          <table id="discussionBoard">
            <tr>
              <th class="plantReference">Plant</th>
              <th class="title">Title</th>
              <th class="content">Content</th>
              <th class="timestamp">Timestamp</th>
              <th class="rating">Rating</th>
            </tr>
          </table>
        </table>
      </div>
    </div>
  </body>
  <footer class="footer"></footer>

  <script>
    const showAllPlants = function () {
      let table = document.getElementById("plantsTable")
      let response = fetch("/users/dashboard/showAllPlants",{
          method: "GET",
      }).then((response) => response.json())
        .then((json) => {
          table.innerHTML = "<tr><th>ID</th><th>Common Name</th><th>Biological Name</th><th>Family</th><th>Category</th><th>Origin</th><th>Climate</th><th>Brightness Intensity</th><th>Brightness Direction</th><th>Low Temperature</th><th>High Temperature</th><th>Humidity</th><th>Days Between Watering</th><th>Image</th></tr>"
          for(let plant of json){
            console.log(plant.imageURL);
            let img = "<img src='" + plant.imageURL + "' width='50px' height='50px' />"
            table.innerHTML += "<tr><th>" + plant.plantID + "</th><th>" + plant.commonName + "</th>" +
                               "<th>" + plant.biologicalName + "</th><th>" + plant.family + "</th>" +
                               "<th>" + plant.category + "</th><th>" + plant.origin + "</th>" +
                               "<th>" + plant.climate + "</th><th>" + plant.brightnessIntensity + "</th>" +
                               "<th>" + plant.brightnessDirection + "</th><th>" + plant.temperatureLowF + "</th>" +
                               "<th>" + plant.temperatureHighF + "</th><th>" + plant.humidity + "</th>" +
                               "<th>" + plant.daysBetweenWatering + "</th><th>" + img + "</th></tr>"
          } 
      });
    }

    const showFavoritePlants = function() {
      let table = document.getElementById("plantsTable")
      let response = fetch("/users/dashboard/showFavoritePlants",{
          method: "GET",
      }).then((response) => response.json())
        .then((json) => {
          table.innerHTML = "<tr><th>ID</th><th>Common Name</th><th>Biological Name</th><th>Family</th><th>Category</th><th>Origin</th><th>Climate</th><th>Brightness Intensity</th><th>Brightness Direction</th><th>Low Temperature</th><th>High Temperature</th><th>Humidity</th><th>Days Between Watering</th><th>Image</th></tr>"
          for(let plant of json){
            console.log(plant.imageURL);
            let img = "<img src='" + plant.imageURL + "' width=100% height=50px />"
            table.innerHTML += "<tr><th>" + plant.plantid + "</th><th>" + plant.commonName + "</th>" +
                               "<th>" + plant.biologicalName + "</th><th>" + plant.family + "</th>" +
                               "<th>" + plant.category + "</th><th>" + plant.origin + "</th>" +
                               "<th>" + plant.climate + "</th><th>" + plant.brightnessIntensity + "</th>" +
                               "<th>" + plant.brightnessDirection + "</th><th>" + plant.temperatureLowF + "</th>" +
                               "<th>" + plant.temperatureHighF + "</th><th>" + plant.humidity + "</th>" +
                               "<th>" + plant.daysBetweenWatering + "</th><th>" + img + "</th></tr>"
          } 
      });
    }

    const hideAllPlants = function() {
      let table = document.getElementById("plantsTable")
      table.innerHTML = "<tr><th>ID</th><th>Common Name</th><th>Biological Name</th><th>Family</th><th>Category</th><th>Origin</th><th>Climate</th><th>Brightness Direction</th><th>Low Temperature</th><th>High Temperature</th><th>Humidity</th><th>Days Between Watering</th><th>Image</th></tr>"
    }

    const showAllPosts = function() {
      let table = document.getElementById("discussionBoard");
      let response = fetch("/users/dashboard/showAllPosts",{
          method: "GET",
      }).then((response) => response.json())
        .then((json) => {
          table.innerHTML = "<tr><th>Plant</th><th>Title</th><th>Content</th><th>Timestamp</th><th>Rating</th></tr>"
          for(let post of json){
            table.innerHTML += "<tr><th>" + post.plantID +  "</th>" +
                               "<th>" + post.title + "</th>" +
                               "<th>" + post.content + "</th>" +
                               "<th>" + post.timestamp + "</th>" +
                               "<th>" + post.rating + "</th></tr>"
          } 
      });
    }

    const showFavoritePosts = function() {
      let table = document.getElementById("discussionBoard")
      let response = fetch("/users/dashboard/showFavoritePosts",{
          method: "GET",
      }).then((response) => response.json())
        .then((json) => {
          table.innerHTML = "<tr><th>Plant</th><th>Title</th><th>Content</th><th>Timestamp</th><th>Rating</th></tr>"
          for(let post of json){
            table.innerHTML += "<tr><th>" + post.plantid +  "</th>" +
                               "<th>" + post.title + "</th>" +
                               "<th>" + post.content + "</th>" +
                               "<th>" + post.timestamp + "</th>" +
                               "<th>" + post.rating + "</th></tr>"
          } 
      });
    }

    const hideAllPosts = function() {
      let table = document.getElementById("discussionBoard")
      table.innerHTML = "<tr><th>Plant</th><th>Title</th><th>Content</th><th>Timestamp</th><th>Rating</th></tr>"
    }

    window.onload = function() {
      showFavoritePlants();
      showAllPosts();
    }
  </script>
</html>
